
.addButton {
    padding-top: 0;
    padding-bottom: 0;
}

.table {
    composes: table from '../../../../src/assets/css/tables.modules.css';
}

.th {
    composes: th from '../../../../src/assets/css/tables.modules.css';
}

